[Unit]
Description=Run an encrypted Restic backup
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/local/lib/backup-recovery/root_actions.py backup
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
